.mybox {
    margin: 10px;
    border-radius: 5px;
}
.mybox p {
    margin: 10px;
}
.codebox {
    max-height: 204px;
    max-width:99%;
    overflow: scroll;
    background-color: #f5f5f5;
    padding: 12px;
}
.match {
    background-color: yellow;
}
.f11 {
    font-size: 11px;
}
.search-bar{
    padding:10px;
}