<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TWX Search</title>
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/app.css">
    </style>
</head>
<body>

<div class="container">
    <div class="border mybox">

        <p class="f11"><b>Applications</b>&nbsp;
            <a class="reloadBtn" href="">reload list</a>&nbsp;|&nbsp;<a id="importBtn" href="">import twx</a>
        </p>
        <ol class="f11">
        <div id="summary"></div>
    </ol>
<p class="f11">Now indexing <span id="counter">0 files ...</span></p>

    </div>
    <div class="border mybox">
        <div class="row search-bar">
            <div class="col">
                <input type="text" class="form-control form-control-sm" id="q">
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-sm" id="searchBtn">Search</button>
            </div>
        </div>

        <div class="row">
            <div class="col f11">
                <ol id="result"></ol>
            </div>
        </div>
    </div>
</div>
  {% include 'summaryTemplate.html' %}
   {% include 'resultTemplate.html' %}
<script src="static/mustache.min.js"></script>
<script src="static/jquery-3.2.1.min.js"></script>
<script src="static/popper.min.js"></script>
<script src="static/bootstrap.min.js"></script>
<script src="static/app.js"></script>
</body>
</html>